.fileUpload {
    position: relative;
    display: inline-block;
}

.icon {
    min-width: 20px;
    height: 20px;
    align-items: center;
    display: flex;
}

label { cursor: pointer; }

.button {
    font-size: 14px; 
    background-color: #f0f4f9;
    color: #444746;
    padding: 5px;
    height: 27px;
    min-width: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 3px;

    border-radius: 15px;
    border: 1px solid transparent;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: 0.25s;
}

.button:hover {
    background-color: #dbdfe5;
  }

.button:focus{
    outline: 1px ridge #76789d;  
}

.button:link,
.button:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.button:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.button-white {
    background-color: #fff;
    color: #777;
}

.button::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.button-white::after {
    background-color: #fff;
}

.button:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.button-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}  

.hidden {
    display: none; /* Скрываем стандартное поле ввода файла */
}